<div class="col-12">

  <mdb-tabs [justified]="true" #tabs>
    <mdb-tab *ngFor="let categ of menuCategories" title="{{categ.name}}">

      <div class="justify-content-center">

        <div class="row">
          <ul class="list-group list-group-light col-lg-6 col-sm-12 border"
            *ngFor="let item of categ.subcategories; index as i">
            <li class="list-group-item px-3 border-0 ">
              <div class="text-center">
                <p class="fs-2 fw-bold text-uppercase text-info text-opacity-75"
                  style="font-family: 'Trebuchet MS', sans-serif;">{{item.name}} </p>
              </div>
              <div *ngFor="let dish of item.menuItems">

                <p class="py-0 my-0 "> <b class="text-info text-opacity-75 fs-5"> {{dish.name}}</b> <small
                    class="fw-bold"> {{dish.price}} </small>
                  <small *ngIf="dish.quantity"> - {{dish.quantity}}</small>

                </p>

                <p *ngIf="dish.description" class="small py-0 my-0">
                  <small> <mark><em>{{dish.description}} </em></mark></small>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </mdb-tab>
  </mdb-tabs>
  <!-- <p><a href="https://erp.foodostech.com/caffee/oatt/11x0/0bfae9110c1068fa329def869c300cdecd5247e4/#categorie31" target="_blank" rel="noopener noreferrer" i18n="@@menuLink"> Consult our menu here.</a></p> -->
</div>
<!-- <div class="col-lg-4 col-sm-12 py-4">
    <mdb-carousel *ngIf="dishesMenuCarousel.length" [animation]="'fade'">
      <mdb-carousel-item *ngFor="let dishImage of dishesMenuCarousel">
        <img [src]="'data:image/jpeg;base64,' + dishImage.image" class="img-fluid" />
      </mdb-carousel-item>
    </mdb-carousel>
  </div> -->