<mdb-carousel [controls]="true">
  <mdb-carousel-item>
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="..." />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="..." />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="..." />
  </mdb-carousel-item>
</mdb-carousel>
<br />

<div class="col-6 py-4 offset-3">
  <mdb-tabs [justified]="true">
    <mdb-tab *ngFor="let categ of menuCategories">
      <ng-template mdbTabTitle>
        <span (mouseenter)="startAnimation()">
          <i class="fas {{categ.icon}} fa-fw me-2" [@pulse]="animationState" (@pulse.done)="onAnimationDone()">
          </i>{{categ.name}}
        </span>
      </ng-template>
      <div class="justify-content-center">
        <ul class="list-group list-group-light" *ngFor="let item of dishesMenu.subcategoryMenu">
          <li class="list-group-item px-3 border-0 " aria-current="true"
            *ngIf="item.subcategory.category.name === categ.name">
            <h4> <u>{{item.subcategory.name}}</u> </h4>
            <div *ngFor="let dish of item.dishes">
              <h6><b>{{dish.name}}</b></h6>
              <p class="small" style="margin-bottom: 0;"><span *ngFor="let ingredient of dish.ingredients; let i = index"
                  [attr.data-index]="i">
                  {{ingredient.shortName}} <small>{{ingredient.quantity}} {{ingredient.um}}</small><span
                    *ngIf="i < dish.ingredients.length - 1"> ,</span></span> </p>
              <a *ngIf="dish.nutritionalValue" type="button" [mdbPopover]="template"
                mdbPopoverHeader="Nutritional Values" trigger="focus" tabindex="0">
                <span class="small text-muted" style="font-size: xx-small;">Nutritional values</span> </a>
              <ng-template #template>
                <p class="small text-muted">
                  Energy {{dish.nutritionalValue.kcal}}/{{dish.nutritionalValue.kj}} (kcal/kj)
                </p>
                <!-- <span *ngFor="let nv of item.nutritionalValue.values| keyvalue">{{nv.key}}{{nv.value}}</span> -->
              </ng-template>
              <!-- <p class="small text-muted"  style="font-size: small;"> {{item.subcategory}} </p> -->
              <p class="small" style="font-size: small;">
                <span *ngFor="let label of dish.labels" class="badge rounded-pill badge-info">{{label}}</span>
              </p>
            </div>
          </li>
        </ul>
      </div>

    </mdb-tab>
  </mdb-tabs>
</div>