<div class="main-color">
  <div class="d-flex justify-content-left">
    <div class="col-lg-9 col-sm-6 mt-4">
      <h1>{{header}}</h1>
      <p class="lead">{{lead}}</p>
    </div>
    <div class="col-lg-3 col-sm-6 row">
      <div class="col-8 text-center pt-4">
        <!-- <h6>GRAM</h6> -->
        <hr class="bg-white">
      </div>

      <div class="col-10 offset-1">
        <ul class="list-inline">
          <li *ngFor="let icon of icons" class="list-inline-item"><i [class]="'fas fa-xl ' + icon"></i></li>
        </ul>
      </div>
      <div class="col-10 offset-1">
        <button class="btn  text-white dark-color" type="button" data-mdb-ripple-init 
          routerLink="{{menuItems[1].link}}">Meniul Nostru</button>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
<div class="p-5 bg-image" style="
background-image: url('assets/hero.jpeg');
height: 800px;
">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">

  </div>
</div>



<div class="row d-flex p-5 second-color text-center ">
  <h1>Îți e foame? </h1>
  <h1>Avem un loc rezervat pentru tine!</h1>
  <p class="lead"> Fie că vrei o gustare rapidă între cursuri sau să te relaxezi cu prietenii la o masă delicioasă, te
    așteptăm cu preparate făcute din cele mai bune ingrediente locale. Hai la noi să-ți transformi următoarea masă în
    cel mai bun moment al zilei — cu arome de neuitat, direct din Cluj! </p>
  <br />
  <br />
</div>

<app-row-template
  [reversed]="false"
  backgroundImage="url('assets/catering-1.jpeg')"
  title="Catering"
  lead="Avem grijă de mâncare, tu bucură-te de petrecere! Catering delicios și local, pentru evenimente memorabile."
  aditionalContainerClasses="text-white"
  rowColor="dark-color"
/>

<app-row-template
  [reversed]="true"
  backgroundImage="url('assets/private-events-1.jpeg')"
  title="Evenimente"
  lead="Avem pentru tine o colecție impresionantă de vinuri și șampanii, toate alese cu grijă de la
  cramele locale. Fie că ești un cunoscător sau doar vrei să te bucuri de un pahar bun, te așteaptă o experiență
  autentică, completată de aromele noastre unice."
  aditionalContainerClasses=""
  rowColor="second-color"
/>
  <div class="main-color p-4">
    <div class="offset-2 row ">
      <h3>Dintre preferatele clientilor nostri: </h3>
      <br />
      <div *ngFor="let pick of clientsTopPicks" class="card col-lg-3 offset-lg-1 col-sm-12 offset-sm-0 mt-2">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img [src]="pick.img" class="img-fluid" [alt]="pick.imgAlt" style="height: 250px; width: auto;"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{pick.dishName}}</h5>
          <p class="card-text">{{pick.description}}</p>
        </div>
      </div>

    </div>
  </div>