<div class="row col-12 justify-content-center">
    <div class="card col offset-1">
        <div class="card-body ">
            <h5 class="card-title">{{trendingBlock.title}}</h5>
            <p class="card-text">
                {{trendingBlock.shortDescription}}
            </p>
            <!-- <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
            </p> -->
        </div>
        <mdb-carousel *ngIf="trendingBlock.images.length" [animation]="'fade'" [controls]="true" [indicators]="true" >
            <mdb-carousel-item *ngFor="let image of trendingBlock.images">
              <img [src]="'data:image/jpeg;base64,' + image.image" class="img-fluid" />
            </mdb-carousel-item>
          </mdb-carousel>
        <!-- <img [src]="'data:image/jpeg;base64,' + trendingBlock.images[0].image" class="card-img-bottom img-fluid" alt="Camera" /> -->
    </div>
</div>
<br/>
<div class="row text-center">
    <p >
        {{trendingBlock.description}}
    </p>
</div>
