<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light" [containerInside]="false">

    <mdb-navbar-brand><a class="navbar-brand blue-grey-text" routerLink="/">Gram logo placeholder</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li *ngFor="let item of menuItems" class="nav-item">
                <a class="nav-link blue-grey-text" routerLinkActive="active" mdbWavesEffect
                    routerLink="{{item.link}}">{{item.name}} <span class="underline"></span></a>
            </li>
        </ul>
    </links>
</mdb-navbar> -->

<!-- TODO cleanup-->

<mdb-sidenav-layout>
    <mdb-sidenav #sidenav="mdbSidenav">
        <a class="ripple d-flex justify-content-center py-2 mb-1" style="border-bottom: 2px solid #f5f5f5" href="#!"
            data-mdb-ripple-color="primary">
            <img id="Gram Logo" src="./assets/logo.png" alt="Gram Logo" draggable="false" />
        </a>
        <div mdbDropdown class="btn-group justify-content-center">
            <button type="button" class="btn btn-primary" data-mdb-tooltip-init title="{{ selectLanguage}}">{{
                curentLanguage}}</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" mdbDropdownToggle
                aria-expanded="'false'">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>

            <ul mdbDropdownMenu class="dropdown-menu">
                <li *ngFor="let language of allLanguages">
                    <a class="dropdown-item" (click)="changeLanguage(language)"
                        href="/{{language}}/{{getCurrentRoute()}}">{{language}}</a>
                </li>
            </ul>
        </div>
        <ul class="list-inline text-center">
            <li class="list-inline-item" *ngFor="let socialLink of socialLinks">
                <a href="{{socialLink.link}}" [style]="'color:' + socialLink.color">
                    <i class="{{socialLink.name}}"></i>
                </a>
            </li>
        </ul>
        <hr class="mb-4 mt-0" />
        <ul class="sidenav-menu px-1 pb-5">
            <ng-container *ngFor="let item of menuItems">
                <mdb-sidenav-item [ngClass]="{'pt-3 d-block': item.subheading}">
                    <span *ngIf="item.subheading" class="sidenav-subheading text-muted">{{ item.subheading }}</span>
                    <a class="sidenav-link" tabindex="0" routerLinkActive="active" routerLink="{{item.link}}" mdbRipple
                        (click)="sidenav.toggle()">
                        <!-- <i class="fas {{item.icon}} fa-fw me-3" ></i> -->
                        {{ item.name }}
                    </a>
                    <ul *ngIf="item.submenu" class="sidenav-collapse" mdbCollapse>
                        <li class="sidenav-item" *ngFor="let subitem of item.submenu">
                            <a class="sidenav-link" tabindex="0" mdbRipple routerLink="{{item.link}}"
                                (click)="sidenav.toggle()">{{subitem.name}}</a>
                        </li>

                    </ul>
                </mdb-sidenav-item>
            </ng-container>
        </ul>
        <div class="col-12 px-4 pb-5">
            <hr class="mb-4 mt-0 mx-4" />
            <p class="small text-muted" style="font-size: small;"><a class="text-decoration-none"
                    href="{{contact.location.googleLink}}">
                    {{contact.location.address}} </a>
                <br> <a href="{{'tel:' + contact.phoneNumber" style="font-size: small;">{{contact.phoneNumber}}</a>
            </p>
            <p class="small text-muted">{{contact.openHours[0]}} <br> {{contact.openHours[1]}} <br>
                {{contact.openHours[2]}} </p>
        </div>
    </mdb-sidenav>
    <mdb-sidenav-content #sidenavContent>
        <div class="row ">
            <!-- Toggler -->
            <div class="col-2">
                <button #sidenavToggle class="btn btn-ouline btn-secondary btn-lg" (click)="sidenav.toggle()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="col-7 offset-3 col-sm-6 text-center" *ngIf="showLocation" id="locationId">
                <p class="small text-muted " style="font-size: small;"><a class="text-decoration-none"
                        href="{{contact.location.googleLink}}">
                        {{contact.location.address}} </a>
                    <br> <a href="{{'tel:' + contact.phoneNumber">&nbsp;&nbsp;&nbsp;&nbsp;
                        {{contact.phoneNumber}}</a>
                </p>
            </div>
            <hr class="my-3" />
        </div>
        <div class="container-fluid px-2 py-2 justify-content-center">
            <router-outlet></router-outlet>
        </div>
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-danger btn-floating" data-mdb-ripple-color="dark" #btnBackToTop (click)="scrollToTop()"
                [ngStyle]="{'display': display}" id="btnBackToTop">
                <i class="fas fa-arrow-up fa-lg"></i>
            </a>
        </div>
        <app-footer></app-footer>
    </mdb-sidenav-content>
</mdb-sidenav-layout>