<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4" i18n>Book Gram</p>
  <!-- Name -->
  <input *ngFor="let privateEventInput of privateEventInputContactForm" type="{{privateEventInput.type}}"
    formControlName="{{privateEventInput.controlName}}" id="{{privateEventInput.controlName}}" mdbInput
    class="form-control mb-4" placeholder="{{privateEventInput.placeholder}}">
  <!-- Subject -->
  <label>{{contactFormSelectEventType.label}}</label>
  <select formControlName="{{contactFormSelectEventType.controlName}}" class="browser-default custom-select mb-4">
    <option value="" disabled i18n>Choose option</option>
    <option *ngFor="let option of contactFormSelectEventType.options" value="{{option.value}}" >{{option.text}}</option>
  </select>
<!-- 
  <mdb-form-control class="form-control mb-4">
    <input mdbInput [mdbDatepicker]="datepicker" type="text" class="form-control" id="{{datePicker.controlName}}"
      formControlName="{{datePicker.controlName}}" />
    <label mdbLabel for="{{datePicker.controlName}}" class="form-label">{{datePicker.label}}</label>
    <mdb-datepicker-toggle [mdbDatepicker]="datepicker"></mdb-datepicker-toggle>
    <mdb-datepicker [inline]="true" #datepicker></mdb-datepicker>
  </mdb-form-control>

  <mdb-form-control class="form-control mb-4">
    <input mdbInput type="text" id="{{startTimePicker.controlName}}" formControlName="{{startTimePicker.controlName}}"
      class="form-control" [mdbTimepicker]="startTimepicker" [value]="startTimePicker.value" />
    <label mdbLabel class="form-label" for="startTimePicker.controlName">Starting from</label>
    <mdb-timepicker-toggle [mdbTimepickerToggle]="startTimepicker"></mdb-timepicker-toggle>
    <mdb-timepicker #startTimepicker>
    </mdb-timepicker>
  </mdb-form-control>

  <mdb-form-control class="form-control mb-4">
    <input mdbInput type="text" id="{{endTimePicker.controlName}}" formControlName="{{endTimePicker.controlName}}"
      class="form-control" [mdbTimepicker]="endTimepicker" />
    <label mdbLabel class="form-label" for="{{endTimePicker.controlName}}">Ending at</label>
    <mdb-timepicker-toggle [mdbTimepickerToggle]="endTimepicker"></mdb-timepicker-toggle>
    <mdb-timepicker #endTimepicker >
    </mdb-timepicker>
  </mdb-form-control> -->

  <input *ngFor="let privateEventInput of privateEventInput3rdForm" type="{{privateEventInput.type}}"
    formControlName="{{privateEventInput.controlName}}" id="{{privateEventInput.controlName}}" mdbInput
    class="form-control mb-4" placeholder="{{privateEventInput.placeholder}}" >

  <!-- <label>{{contactFormSelectEventSource.label}}</label>
  <select formControlName="{{contactFormSelectEventSource.controlName}}" class="browser-default custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option *ngFor="let option of contactFormSelectEventSource.options" value="{{option.value}}">{{option.text}}
    </option>
  </select> -->

  <!-- Send button -->
  <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
    type="submit" (click)="closeModal(); openToast();" i18n="@@form.send">Send</button>
</form>
<!-- Default form contact -->
<!-- Default form contact -->