<!-- Default form contact -->

<div class="modal-header" data-mdb-backdrop="false" data-mdb-keyboard="true">
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4" >Book Gram</p>
  <!-- Name -->
  <input *ngFor="let privateEventInput of privateEventInputContactForm" type="{{privateEventInput.type}}"
    formControlName="{{privateEventInput.controlName}}" id="{{privateEventInput.controlName}}" mdbInput
    class="form-control mb-4" placeholder="{{privateEventInput.placeholder}}">
  <!-- Subject -->
  <label>{{contactFormDate.label}}</label>
  <select formControlName="{{contactFormDate.controlName}}" class="browser-default custom-select mb-4">
    <!-- <option value="{{contactFormDate.options[0].value}}"  >Choose option</option> -->
    <option *ngFor="let option of contactFormDate.options" value="{{option.value}}"  >{{option.text}}</option>
  </select>
  <select formControlName="{{contactFormHour.controlName}}" class="browser-default custom-select mb-4">
    <option value="" disabled >Choose option</option>
    <option *ngFor="let option of contactFormHour.options" value="{{option.value}}" >{{option.text}}</option>
  </select>

  <input *ngFor="let privateEventInput of privateEventInput3rdForm" type="{{privateEventInput.type}}"
    formControlName="{{privateEventInput.controlName}}" id="{{privateEventInput.controlName}}" mdbInput
    class="form-control mb-4" placeholder="{{privateEventInput.placeholder}}" 
    min="{{privateEventInput.min}}" max="{{privateEventInput.max}}">

  <!-- Send button -->
  <button class="btn btn-md btn-outline-success" 
    type="submit"  ="@@form.send">Send</button>
</form>
<!-- Default form contact -->
<!-- Default form contact -->