<mdb-lightbox class="lightbox">
    <div class="row">
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/1.webp'"
          alt="Lightbox image 1"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/2.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/2.webp'"
          alt="Lightbox image 2"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/3.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/3.webp'"
          alt="Lightbox image 3"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
    </div>
  </mdb-lightbox>
  <br/>
  <mdb-lightbox class="lightbox">
    <div class="row">
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/1.webp'"
          alt="Lightbox image 1"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/2.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/2.webp'"
          alt="Lightbox image 2"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/3.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/3.webp'"
          alt="Lightbox image 3"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
    </div>
  </mdb-lightbox>
  <br/>
  <mdb-lightbox class="lightbox">
    <div class="row">
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/1.webp'"
          alt="Lightbox image 1"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/2.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/2.webp'"
          alt="Lightbox image 2"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-4">
        <img
          mdbLightboxItem
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/3.webp"
          [img]="'https://mdbootstrap.com/img/Photos/Slides/3.webp'"
          alt="Lightbox image 3"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
    </div>
  </mdb-lightbox>
  <br/>