<app-event-placeholder [events]="private_events" [services]="services"
  text="
Fie că planifici o petrecere intimă, o aniversare sau o întâlnire specială, suntem aici să-ți oferim un spațiu primitor și o experiență culinară deosebită. Cu un meniu personalizat și atmosferă caldă, fiecare detaliu este gândit pentru a face evenimentul tău memorabil. Contactează-ne la 0730163165 sau completează formularul pentru a discuta despre cum putem transforma ideile tale în realitate!"
  title="Organizează Evenimente de Neuitat cu Noi!">
</app-event-placeholder>