<div class="justify-content-center">
    <div class="card col-4 offset-4">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Book your Gram expedience now</h5>
            <button class="btn btn-outline-dark align-start" (click)="openModal()" mdbRipple rippleColor="light"
                data-mdb-color="dark">Cattering</button>
            <button class="btn btn-outline-dark float-end" (click)="openModal()" mdbRipple rippleColor="light"
                data-mdb-color="dark">Private Event</button>
        </div>
    </div>
    <div class="col  padded-col col-8 offset-2">
        <ul class="list-group list-group-light mb-3">
            <li class="list-group-item">
                <h5 class="fw-bold">Our company starts its operations</h5>
                <p class="text-muted mb-2 fw-bold">11 March 2020</p>
                <p class="text-muted mb-0">
                    Some placeholder content in a paragraph relating to "Our company starts its operations". And some
                    more content, used here just to pad out and fill this tab panel. In production, you would obviously
                    have more real content here. And not just text. It could be anything, really. Text, images, forms.
                </p>
            </li>
            <li class="list-group-item">
                <h5 class="fw-bold">First customer</h5>
                <p class="text-muted mb-2 fw-bold">19 March 2020</p>
                <p class="text-muted mb-0">
                    Some placeholder content in a paragraph relating to "First customer". And some more content,
                    used here just to pad out and fill this tab panel. In production, you would obviously have more real
                    content here. And not just text. It could be anything, really. Text, images, forms.
                </p>
            </li>
            <li class="list-group-item">
                <h5 class="fw-bold">Our team exceeds 10 people</h5>
                <p class="text-muted mb-2 fw-bold">24 June 2020</p>
                <p class="text-muted mb-0">
                    Some placeholder content in a paragraph relating to "Our team exceeds 10 people". And some more
                    content, used here just to pad out and fill this tab panel. In production, you would obviously
                    have more real content here. And not just text. It could be anything, really. Text, images, forms.
                </p>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-4 card" *ngFor="let card of cardData">
            <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="{{card.src}}" class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{card.name}}
                    <i class="'fas fa-' + {{card.icon}}"></i>
                    <p>{{card.text}}</p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </h5>
            </div>

        </div>
        <a class="btn btn-outline-dark btn-rounded w-100" color="blue-grey" role="button" (click)="openModal()">Book
            now</a>
    </div>
    <br />
</div>