
<app-event-placeholder 
[events]="catering" 
[services]="services"
text="Lasă-ne să aducem aromele din bucătăria noastră la următorul tău eveniment! Fie că este vorba de o petrecere de naștere, o întâlnire corporate sau o sărbătoare specială, oferim soluții de catering personalizate care își vor impresiona invitații. Contactează-ne la 0730165163 sau completează formularul și să începem să planificăm o experiență de neuitat împreună!"
title="Catering delicios pentru orice ocazie!" >
</app-event-placeholder>