
<div class="card img-fluid justify-content-center text-center " style="background-image: url('../../assets/2020-09-12(1).jpg')" mdbRipple rippleColor="light">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
</div>
  

<br/>
<!-- Section: Blog v.3 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
    <!-- Section description -->
    <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
    <!-- Grid row -->
    <div class="row" *ngFor="let trend of trendingBlocks">
  
      <!-- Grid column -->
      <div class="col-lg-5 col-xl-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" [src]="'data:image/jpeg;base64,' + trend.images[0].image" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7 col-xl-8">
  
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>{{trend.title}}</strong></h3>
        <!-- Excerpt -->
        <p class="dark-grey-text">{{trend.shortDescription}}</p>
        <!-- Post data -->
        <p>by <a class="font-weight-bold">{{trend.author}}</a>, {{trend.date}}</p>
        <!-- Read more button -->
        <a mdbBtn color="primary" mdbWavesEffect (click)="openModal(trend)">Read more</a>
  
      </div>
      <hr class="my-5">
  
    </div>
 
  </section>
  <!-- Section: Blog v.3 -->