
<div class="second-color ">

<!-- Footer --><!-- Footer -->
<footer class="text-center">

    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">

        <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let socialLink of socialLinks"> <a href="{{socialLink.link}}" 
                >
                <i class="{{socialLink.name}}" ></i>
                </a></li>
        </ul>
       
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form (ngSubmit)="sendEmail($event)">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Aboneaza-te la newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <mdb-form-control class="mb-4">
                <input mdbInput type="email" id="form5Example24" class="form-control" name="email" />
                <label mdbLabel class="form-label" for="form5Example24">Adresa ta de email</label>
              </mdb-form-control>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button mdbRipple type="submit" class="btn mb-4" >
                Ma abonez
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4 row">
        <div class="col-6">
        <h3>Pro<b>Gram</b></h3>
        <p *ngFor="let hour of contact.openHours">
            {{hour}}
        </p>
    </div>
    <div class="col-6" style="overflow: hidden;">
        <h3>Contact</h3>
        <p >
            Telefon: {{contact.phoneNumber}}
        </p>
        <p>
            Adresa: {{contact.location.address}}
        </p>
        <p>
            Email: {{contact.email}}
            </p>
    </div>
      </section>
      <!-- Section: Text -->
  </div>
    <!-- Copyright -->
    <div class="text-center p-3 dark-color text-white" >
      © 2024 Copyright:
      <a class="text-white" >Lambda Coding Solutions</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- Footer -->